$grid-columns: 4;
$grid-container-width: 1140px;

.container{
  width: 100%;
  max-width: $grid-container-width;
  margin: 0 auto;

  .row, &.row{
    &::before,
    &::after{
      content: '';
      display: block;
      clear: both;
    }

    [class*=col-]{
      width: 100%;
    }

    @for $i from 1 through $grid-columns{
      .col-#{$i}{
        width: (100% / $grid-columns) * $i;
      }
    }

  }

}


