@import "grid";
@import "reset";

//SECTION EVENTS

%beforeAfterH1{
  width: 120px;
  height: 2px;
  content: "";
  display: block;
  background: #999;
  position: absolute;
}
 .eventsHeader{

   p{
     color: #999;
     padding-top: 20px;
   }

  h1 {
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 20px 0;
    position: relative;

    &::after {
     @extend %beforeAfterH1;
      left: 300px;
      bottom: -15px;
    }

    &::before {
      @extend %beforeAfterH1;
      left: -40px;
      top: -15px;
    }

  }
}

 %beforeAfterEvents{
   content: "";
   height: 20px;
   width:20px;
   border-radius: 50%;
   background: #999999;
   display: block;
   position: absolute;

 }


 .lisOfDates{
   height: 500px;
   width:100%;
   margin-top: 40px;
   position: relative;
 }

 .dates{
   height: 400px;
   width: 20%;
   border-left: 1px solid #999;
   position: relative;

   &::after {
     @extend %beforeAfterEvents;
     bottom: -15px;
     left: -10px
   }

     &::before {
       @extend %beforeAfterEvents;
       top: -10px;
       left:-10px;
     }
   }

 %dates123{
   width: 70%;
   border-bottom: 1px solid #999999;

 }

 div{
   position: relative;
   &.date1{
     @extend %dates123;
     height: 20%;

   }
   &.date2,
   &.date3{
     @extend %dates123;
     height: 35%;
   }
 }

.date1,
.date2,
.date3{
  display: flex;
  align-items: flex-end;
  justify-content: center;

  &::before {
    content: '';
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: lightseagreen;
    position: absolute;
    bottom: -3px;
    left: -3px;
  }
  p {
    padding-bottom: 10px;
    font-size: 14px;
  }
}

.events{
  height: 500px;
}

div.eventDetails{
  width: 100%;
  height: 28%;

  h2{
    padding: 20px 0;
    font-size: 20px;
    text-transform: capitalize;
  }

  p{
    color: #999999;
    font-size: 15px;
  }
}


.years{
  height: 400px;
  background: url("../images/8.jpg")no-repeat center top/contain;
  position: absolute;
  right: -40px;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  .experience{
    width: 75%;
    height: 75%;
    background: rgba(9, 243, 255, 0.45);
    text-align: center;
    padding-top: 50px;
    color: white;
  }

  h3{
    font-size: 60px;
    padding-bottom: 20px;
    span{
      font-size: 25px;
      text-transform: capitalize;


      &:after{
        @extend %beforeAfterH1;
        height: 1px;
        background: white;
        width: 85%;
        left: 25px;
      }
    }
  }
  h2{
    font-size: 55px;
    letter-spacing: 20px;
  }
}